@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";
@import "@pickle/ui/src/theme.css";

body {
  background: var(--color-base-background);
  color: var(--color-base-foreground);
  font-family: var(--font-sans);
}
