@import "./theme.css";

/* 1. 전역 기본 스타일 강제 정의 */
@layer base {
  body {
    color: var(--color-base-foreground);
    background-color: var(--color-base-background);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .spinner-loader {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, currentColor 95%, #0000) top / 12% 12%
      no-repeat,
      conic-gradient(#0000 30%, currentColor);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 24%),
      #000 0
    );
    animation: spinner-spin 1s infinite linear;
  }
  @keyframes spinner-spin {
    100% {
      transform: rotate(1turn);
    }
  }
}
